/* Scss Document */

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////    RESETS    //////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////    LOAD FONTS    /////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//EWYE Bebas
@font-face {
    font-family: 'EWYE Bebas';
    src: url('../fonts/ewye_bebas-webfont.eot');
    src: url('../fonts/ewye_bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ewye_bebas-webfont.woff2') format('woff2'),
         url('../fonts/ewye_bebas-webfont.woff') format('woff'),
         url('../fonts/ewye_bebas-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//Source Code Pro Regular [weight normal]
@font-face {
    font-family: 'Source Code Pro Regular';
    src: url('../fonts/SourceCodePro-Regular.eot');
    src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Regular.woff') format('woff'),
        url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//Source Code Pro Medium [weight 500]
@font-face {
    font-family: 'Source Code Pro Medium';
    src: url('../fonts/SourceCodePro-Medium.eot');
    src: url('../fonts/SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceCodePro-Medium.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Medium.woff') format('woff'),
        url('../fonts/SourceCodePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

//Source Code Pro Bold [weight 600]
@font-face {
    font-family: 'Source Code Pro Bold';
    src: url('../fonts/SourceCodePro-Bold.eot');
    src: url('../fonts/SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceCodePro-Bold.woff2') format('woff2'),
        url('../fonts/SourceCodePro-Bold.woff') format('woff'),
        url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////    VARIABLES & @MIXINS    ////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//EAT WITH YOUR EYES COLOURS
$ewyeGrey: #2e2d2c;
$ewyeGreyDark: #212121;
$ewyeGreyLight: #a0a0a0;
$ewyeGreen: #28fa8f;

//MEDIA BREAK POINTS
$mobile: 650px;
$tablet: 980px;
$screen: 1280px;
$screenLarge: 1800px;

//REUSEABLE CODE
@mixin fill-screen ($top: 0, $right: 0, $bottom: 0, $left: 0) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////    FONT SETUP    /////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

h1 {
	font-family: 'EWYE Bebas';
	font-size: 3.7vw;
	line-height: 3.7vw;
	text-align: center;
	color: $ewyeGrey;

	@media only screen and (max-width: $screenLarge) {
		font-size: 67px;
		line-height: 67px;
	}
	
	@media only screen and (max-width: $screen) {
		font-size: 45px;
		line-height: 45px;
	}
	
	@media only screen and (max-width: $tablet) {
		
	}
	
	@media only screen and (max-width: $mobile) {
		font-size: 30px;
		line-height: 30px;
	}
}

P, input {
	font-family: 'Source Code Pro Medium', Sans-serif;
	font-size: 0.89vw;
	line-height: 1.33vw;
	text-align: center;
	color: $ewyeGrey;

	@media only screen and (min-width: $screenLarge) {
		font-size: 16px;
		line-height: 24px;
	}

	@media only screen and (max-width: $screen) {
		font-size: 10px;
		line-height: 15px;
	}
}

b {
	font-family: 'Source Code Pro Bold', Sans-serif;
}

small {
	font-size: 0.8vw;
	line-height: 1.2vw;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////    GLOBAL   ///////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

a {
	cursor: pointer;
	font-family: 'Source Code Pro', Sans-serif;
	font-size: 1vw;
	line-height: 1.4vw;
	color: $ewyeGrey;
	text-transform: none;
	text-decoration: none;
	
	@media only screen and (max-width: $screen) {
		font-size: 10.7px;
		line-height: 16px;
	}
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////    MAIN   ////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
	-webkit-font-smoothing: antialiased; /* Used to force Firefox */
	-moz-osx-font-smoothing: grayscale;	 /* to display fonts properly */
}

body,html {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////    HEADER   ///////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$headerHeight: 80px;

.clicked {
	height: 100%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 103;
	top: 0;
	
	@media only screen and (max-width: $mobile) {
		background: #fff;
	}

	/******************************************** SIGNUP DROPDOWN *********************************************/
	#mc_embed_signup {
		width: 100%;
		background: #fff;
		display: none;
		position: relative;
		overflow: hidden;

		.signup-wrapper {
			padding: 4vw 0 2vw 0;

			p {
				margin: 0 0 1vw 0;
			}

			#subscriber-message {
				display: block;
				text-align: center;
			}

			form {
				display: flex;
				justify-content: center;
				padding: 0 0 2vw 0;

				input[type="text"],
				input[type="password"],
				input[type="email"]{
					width: 20vw;
					height: 3vw;
					max-width: 360px;
					max-height: 50px;
					padding: 0 0 0 1vw;
					margin: 0 0.2vw 0 0.2vw;
					vertical-align: middle;
					overflow: hidden;
					background: $ewyeGreyDark;
					border: none;
					color: #fff;
					text-align: left;
				}

				input[type="submit"]{
					background: $ewyeGreen;
					width: 10vw;
					height: 3vw;
					max-width: 170px;
					max-height: 50px;
					color: $ewyeGrey;
					border: none;
					margin: 0 0.2vw 0 0.2vw;

					&:hover {
						background: $ewyeGrey;
						color: #fff;
						cursor: pointer;	
					}
				}
			}

			.up-arrow {
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				z-index: 101;
				display: block;
				cursor: pointer;
				width: 32px;
				float: none;

				#up-arrow-svg {
					width: 32px;
					height: 12px;
				}
			}
		}
	}
	
	/************************************************ HEADER INNER ***********************************************/
	div#header-inner {
		width: 100%;
		height: $headerHeight;
		position: relative;

		div#eat-with-your-eyes-logo {
			width: 190px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;

			.svg {
				fill: #fff;
				width: 100%;

				@media only screen and (max-width: $mobile) {
					fill: $ewyeGrey;
				}
			}
		}

		/************************************************ DISPLAY NAV MENU ***********************************************/
		a.nav-button {
			position: absolute;
			top: 50%;
			right: 40px;
			transform: translate(0, -50%);
			height: 40px;
			width: 26.667px;
			display: block;
			overflow: hidden;
			z-index: 105;
			
			@media only screen and (max-width: $mobile) {
				right: 20px;
			}

			.nav-button-animation {
				position: absolute;
				height: 20px;
				width: 560px;
				transform: translate(0, -12px);
				left: 0px;
				top: 50%;
				fill: $ewyeGreen;

				&.contrast {
					fill: $ewyeGrey;
				}

				.svg {

				}
			}
		}
	}
	
	/************************************************ NAVIGATION MENU ***********************************************/
	nav {
		position: relative;
		width: 100%;
		height: 100%;
		transform: translate(0, -$headerHeight);
		z-index: 104;
		display: none;
		overflow: hidden;

		ul#main-menu {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;

			/*** MENU ITEM ***/
			li.menu-item {
				margin: 2vw 0 2vw 0;

				@media only screen and (min-width: $screenLarge) {
					margin: 36px 0 36px 0;
				}

				@media only screen and (max-width: $screen) {
					margin: 24px 0 24px 0;
				}

				&.signup-btn {
					a {
						@media only screen and (max-width: $tablet) {
							width: 100%;
							display: block;
							overflow: hidden;
							margin: 0 auto;
						}

						p {
							br {
								@media only screen and (max-width: $tablet) {
									position: absolute;
								}
							}
						}
					}
				}

				a {
					h1 {
						color: #fff;
					}

					p {
						margin: 1.5vw 0 2vw 0;
						color: #fff;
					}

					&:hover > h1, &:hover > p  {
						color: $ewyeGreen;
					}
				}

				/*** CURRENT PAGE INDICATOR ***/
				&.current-menu-item {
					a {
						h1 {
							color: $ewyeGreen;
						}
					}
				}
			}
		}

		ul.social-media-menu {
			display: none;
			position: absolute;
			bottom: 4%;
			left: 50%;
			transform: translate(-50%, 0);

			li.social-item {
				display: inline-block;
				margin: 0 0.5vw 0 0.5vw;
				a {
					P {
						text-decoration: underline;
						color: #fff;
					}
				}
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////   Overlay   //////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.overlay {
	@include fill-screen;
	position: fixed;
	background: rgba(0, 0, 0, 0.75);
	display: none;
	z-index: 102;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////   SHOWREEL   //////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.showreel {
	position: relative;
	overflow: hidden;
	width: 100%;
	
	@media only screen and (max-width: $mobile) {
		margin: $headerHeight 0 0 0;
	}
	
	.showreel-video {
		width: 100%;
		height: auto;
		display: block;
	}
	
	
	.down-arrow {
		.svg {
			fill: $ewyeGreen;
		}
	}
}


