/* Scss Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'EWYE Bebas';
  src: url("../fonts/ewye_bebas-webfont.eot");
  src: url("../fonts/ewye_bebas-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ewye_bebas-webfont.woff2") format("woff2"), url("../fonts/ewye_bebas-webfont.woff") format("woff"), url("../fonts/ewye_bebas-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Source Code Pro Regular';
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../fonts/SourceCodePro-Regular.woff") format("woff"), url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Source Code Pro Medium';
  src: url("../fonts/SourceCodePro-Medium.eot");
  src: url("../fonts/SourceCodePro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro-Medium.woff2") format("woff2"), url("../fonts/SourceCodePro-Medium.woff") format("woff"), url("../fonts/SourceCodePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Source Code Pro Bold';
  src: url("../fonts/SourceCodePro-Bold.eot");
  src: url("../fonts/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceCodePro-Bold.woff2") format("woff2"), url("../fonts/SourceCodePro-Bold.woff") format("woff"), url("../fonts/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
h1 {
  font-family: 'EWYE Bebas';
  font-size: 3.7vw;
  line-height: 3.7vw;
  text-align: center;
  color: #2e2d2c; }
  @media only screen and (max-width: 1800px) {
    h1 {
      font-size: 67px;
      line-height: 67px; } }
  @media only screen and (max-width: 1280px) {
    h1 {
      font-size: 45px;
      line-height: 45px; } }
  @media only screen and (max-width: 980px) {
    h1 {
      font-size: 37px;
      line-height: 37px; } }
  @media only screen and (max-width: 650px) {
    h1 {
      font-size: 35px;
      line-height: 35px; } }

P, input {
  font-family: 'Source Code Pro Medium', Sans-serif;
  font-size: 0.89vw;
  line-height: 1.33vw;
  text-align: center;
  color: #2e2d2c;
  /* Portrait */
  /* Landscape */ }
  @media only screen and (min-width: 1800px) {
    P, input {
      font-size: 16px;
      line-height: 24px; } }
  @media only screen and (max-width: 1280px) {
    P, input {
      font-size: 10px;
      line-height: 15px; } }
  @media only screen and (max-width: 980px) {
    P, input {
      font-size: 10px;
      line-height: 15px; } }
  @media only screen and (max-width: 650px) {
    P, input {
      font-size: 10px;
      line-height: 15px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    P, input {
      font-size: 10px;
      line-height: 15px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    P, input {
      font-size: 10px;
      line-height: 15px; } }

b {
  font-family: 'Source Code Pro Bold', Sans-serif; }

small {
  font-size: 0.8vw;
  line-height: 1.2vw; }

a {
  cursor: pointer;
  font-family: 'Source Code Pro', Sans-serif;
  font-size: 1vw;
  line-height: 1.4vw;
  color: #2e2d2c;
  text-transform: none;
  text-decoration: none; }
  @media only screen and (max-width: 1280px) {
    a {
      font-size: 10.7px;
      line-height: 16px; } }

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

body {
  -webkit-font-smoothing: antialiased;
  /* Used to force Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* to display fonts properly */ }

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%; }

.clicked {
  height: 100%; }

header {
  width: 100%;
  position: fixed;
  z-index: 103;
  top: 0;
  /******************************************** SIGNUP DROPDOWN *********************************************/
  /************************************************ HEADER INNER ***********************************************/
  /************************************************ NAVIGATION MENU ***********************************************/ }
  header #mc_embed_signup {
    width: 100%;
    background: #fff;
    display: none;
    position: relative;
    overflow: hidden; }
    header #mc_embed_signup .signup-wrapper {
      padding: 2vw 0 0 0; }
      header #mc_embed_signup .signup-wrapper p {
        margin: 0 0 1vw 0;
        padding: 0 4vw 0 4vw; }
        @media only screen and (max-width: 650px) {
          header #mc_embed_signup .signup-wrapper p {
            margin: 0 0 4vw 0; } }
      header #mc_embed_signup .signup-wrapper #subscriber-message {
        display: block;
        text-align: center; }
      header #mc_embed_signup .signup-wrapper form {
        display: grid;
        grid-template-columns: repeat(19, 1fr);
        grid-template-rows: repeat(32vw);
        align-items: center;
        overflow: hidden;
        padding: 0 4vw 0 4vw;
        overflow: hidden;
        grid-gap: 0.5vw; }
        @media only screen and (max-width: 1280px) {
          header #mc_embed_signup .signup-wrapper form {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(32vw); } }
        @media only screen and (max-width: 650px) {
          header #mc_embed_signup .signup-wrapper form {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(32vw); } }
        header #mc_embed_signup .signup-wrapper form input[type="text"],
        header #mc_embed_signup .signup-wrapper form input[type="password"],
        header #mc_embed_signup .signup-wrapper form input[type="email"] {
          grid-column: span 4;
          padding: 1vw 1vw 1vw 1vw;
          vertical-align: middle;
          overflow: hidden;
          background: #212121;
          border: none;
          color: #fff;
          text-align: left; }
          @media only screen and (max-width: 650px) {
            header #mc_embed_signup .signup-wrapper form input[type="text"],
            header #mc_embed_signup .signup-wrapper form input[type="password"],
            header #mc_embed_signup .signup-wrapper form input[type="email"] {
              padding: 4vw 1vw 4vw 1vw; } }
        header #mc_embed_signup .signup-wrapper form input[type="submit"] {
          grid-column: span 3;
          background: #28fa8f;
          padding: 1vw 1vw 1vw 1vw;
          color: #2e2d2c;
          border: none; }
          @media only screen and (max-width: 1280px) {
            header #mc_embed_signup .signup-wrapper form input[type="submit"] {
              grid-column: span 9; } }
          @media only screen and (max-width: 650px) {
            header #mc_embed_signup .signup-wrapper form input[type="submit"] {
              padding: 4vw 1vw 4vw 1vw;
              grid-column: span 3; } }
          header #mc_embed_signup .signup-wrapper form input[type="submit"]:hover {
            background: #2e2d2c;
            color: #fff;
            cursor: pointer; }
      header #mc_embed_signup .signup-wrapper .up-arrow {
        position: relative;
        overflow: hidden;
        z-index: 101;
        display: block;
        cursor: pointer;
        width: 32px;
        float: none;
        margin: 0vw auto 1vw auto; }
        @media only screen and (max-width: 1280px) {
          header #mc_embed_signup .signup-wrapper .up-arrow {
            margin: 1vw auto; } }
        @media only screen and (max-width: 650px) {
          header #mc_embed_signup .signup-wrapper .up-arrow {
            margin: 4vw auto; } }
        header #mc_embed_signup .signup-wrapper .up-arrow #up-arrow-svg {
          width: 32px;
          height: 12px; }
  header div#header-inner {
    width: 100%;
    height: 80px;
    position: relative;
    /************************************************ DISPLAY NAV MENU ***********************************************/ }
    @media only screen and (max-width: 650px) {
      header div#header-inner {
        height: 70px;
        background: #fff; } }
    header div#header-inner div#eat-with-your-eyes-logo {
      width: 190px;
      height: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden; }
      header div#header-inner div#eat-with-your-eyes-logo .svg {
        fill: #fff;
        width: 100%; }
        @media only screen and (max-width: 650px) {
          header div#header-inner div#eat-with-your-eyes-logo .svg {
            fill: #2e2d2c; } }
    header div#header-inner a.nav-button {
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translate(0, -50%);
      height: 40px;
      width: 26.667px;
      display: block;
      overflow: hidden;
      z-index: 105; }
      @media only screen and (max-width: 650px) {
        header div#header-inner a.nav-button {
          right: 20px; } }
      header div#header-inner a.nav-button .nav-button-animation {
        position: absolute;
        height: 20px;
        width: 560px;
        transform: translate(0, -10px);
        left: 0px;
        top: 50%;
        fill: #28fa8f; }
        header div#header-inner a.nav-button .nav-button-animation.contrast {
          fill: #2e2d2c; }
  header nav {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(0, -80px);
    z-index: 104;
    display: none;
    overflow: hidden; }
    header nav ul#main-menu {
      width: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      overflow: hidden;
      /*** MENU ITEM ***/ }
      header nav ul#main-menu li.menu-item {
        margin: 2vw 0 2vw 0;
        /*** CURRENT PAGE INDICATOR ***/ }
        @media only screen and (min-width: 1800px) {
          header nav ul#main-menu li.menu-item {
            margin: 36px 0 36px 0; } }
        @media only screen and (max-width: 1280px) {
          header nav ul#main-menu li.menu-item {
            margin: 24px 0 24px 0; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          header nav ul#main-menu li.menu-item {
            margin: 1vw 0 1vw 0; } }
        @media only screen and (max-width: 980px) {
          header nav ul#main-menu li.menu-item.signup-btn a {
            width: 100%;
            display: block;
            overflow: hidden;
            margin: 0 auto; } }
        header nav ul#main-menu li.menu-item a h1 {
          color: #fff; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            header nav ul#main-menu li.menu-item a h1 {
              font-size: 10px;
              line-height: 10px; } }
        header nav ul#main-menu li.menu-item a p {
          margin: 1.5vw 0 2vw 0;
          color: #fff; }
        header nav ul#main-menu li.menu-item a:hover > h1, header nav ul#main-menu li.menu-item a:hover > p {
          color: #28fa8f; }
        header nav ul#main-menu li.menu-item.current-menu-item a h1 {
          color: #28fa8f; }
    header nav ul.social-media-menu {
      display: none;
      position: absolute;
      bottom: 4%;
      left: 50%;
      transform: translate(-50%, 0); }
      header nav ul.social-media-menu li.social-item {
        display: inline-block;
        margin: 0 0.5vw 0 0.5vw; }
        header nav ul.social-media-menu li.social-item a P {
          text-decoration: underline;
          color: #fff; }

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 102; }

.down-arrow {
  width: 31px;
  position: absolute;
  bottom: 6vw;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 101;
  display: block;
  cursor: pointer; }
  @media only screen and (max-width: 650px) {
    .down-arrow {
      width: 20px; } }

.showreel {
  position: relative;
  overflow: hidden;
  width: 100%; }
  @media only screen and (max-width: 650px) {
    .showreel {
      margin: 70px 0 0 0; } }
  .showreel .showreel-video {
    width: 100%;
    height: auto;
    display: block; }
  .showreel .down-arrow .svg {
    fill: #28fa8f; }

#statement {
  width: 100%;
  display: block;
  position: relative;
  background: #28fa8f; }
  #statement .statement-container {
    margin: 0 auto;
    padding: 6vw 0 6vw 0; }
    @media only screen and (max-width: 650px) {
      #statement .statement-container {
        padding: 14vw 0 14vw 0; } }
    #statement .statement-container p {
      margin: 2vw 0 0 0; }
      @media only screen and (max-width: 650px) {
        #statement .statement-container p {
          margin: 4vw 0 0 0; } }
      #statement .statement-container p small {
        font-size: 80%;
        text-decoration: underline;
        margin: 1vw 0 0 0;
        display: block; }
  #statement .down-arrow {
    position: relative;
    margin: 2vw 0 0 0; }
    #statement .down-arrow .svg {
      fill: #2e2d2c; }

main {
  width: 100%;
  position: relative;
  text-align: center; }
  main #work-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(32vw);
    display: grid;
    grid-gap: 0.6vw;
    margin: 0 auto 02.2vw auto;
    position: relative;
    padding: 0.6vw;
    overflow: hidden; }
    @media only screen and (max-width: 650px) {
      main #work-list {
        grid-template-columns: repeat(1, 1fr); } }
    main #work-list .case-study {
      overflow: hidden;
      position: relative;
      display: none; }
      main #work-list .case-study .cs-btn {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        position: relative; }
        main #work-list .case-study .cs-btn .cs-info {
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: none; }
          main #work-list .case-study .cs-btn .cs-info .cs-info-container {
            position: absolute;
            width: 80%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%; }
            main #work-list .case-study .cs-btn .cs-info .cs-info-container h1 {
              color: #fff;
              margin: 0 0 1vw 0; }
            main #work-list .case-study .cs-btn .cs-info .cs-info-container p {
              color: #28fa8f; }
        main #work-list .case-study .cs-btn .cs-img {
          width: 100%;
          display: block; }
  main #load {
    border: 1px solid #28fa8f;
    box-sizing: border-box;
    padding: 0.6vw 2vw 0.6vw 2vw;
    text-align: center;
    width: auto;
    margin: 20vw 0 20vw 0; }
